.appointment-card {
  width: 100px !important;
  margin: 0.3rem auto 0.3rem !important;
  display: flex;
  justify-content: center;
  align-self: center;
  max-height: 300px !important ;
  overflow: hidden !important;
}
