.appointment-card {
  width: 1rem !important;
  margin-top: 0.3rem;
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  align-self: center;
  height: auto;
  overflow: hidden;
}

@media only screen and (max-width: 430px) {
  .appointment-card {
    width: auto !important;
    padding: 0;
    overflow: hidden;
  }
}
